body {
  font-size: 18px;
  background-color: #003500;
}

.jumbotron {
  margin-top: 20px;
  background-color: #a9ff93;
}

.panel-heading {
  background-color: #a9ff93!important;
}

a {
  color: #840000;
}

img.self {
   height: 236px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

img.catan {
  height: 180px;
}

p.indent {
  text-indent: 20px;
}

p {
  margin-bottom: 0px;
  line-height: 24px;
}

li {
  margin-top: 10px;
}

em {
  font-size: 20px;
}

.right {
  float: right;
}

.the-point {
  font-weight: bold;
  color: #560000;
}

.row {
  width: 100%
}
